{% extends 'new/base.html' %}
{% load i18n %}
{% load markup_tags %}

{% block title %}
  Incorporate Your Company
{% endblock %}

{% block search_panel %}
  {% if is_mobile %}{{ block.super }}{% endif %}
{% endblock search_panel %}

{% block content %}

  <div class="container-fluid page-header single-page-wrapper">
    <div class="row">
      <div class="f-moto pb-5 pt-5">
        <div class="f-moto-shader"></div>
        <div class="f-moto-layout pb-5 pt-5">
          <div class="container">
            <div class="row text-center">
              <div class="col-12">
                <h1 class="f-moto-title mb-4">Incorporate Your Company</h1>
                <h2 class="f-moto-title mb-4">This is a limited time (ends in March) referral opportunity to
                  incorporate for a flat $500 with the invitation only Stripe Atlas program. This is what Bear Founders
                  used, it's a good deal</h2>
                <h3 class="f-moto-subtitle"> This allows you to incorporate in Delaware as a C Corp, gives
                  you Amazon Web Services credits of up to $5,000, free Silicon Valley Bank account setup, an Employer
                  identification Number and more!</h3>
                <a class="btn btn-lg btn-primary" href="https://atlas.stripe.com/invite/kihoajpi">
                  Register Your Company
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
