{% extends 'new/base.html' %}
{% load static from staticfiles %}
{% load i18n %}

{% block title %}
Resources page
{% endblock %}


{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="card-title text-center mb-0">
                        <a class="text-white" href="">Student Loans Guy</a>
                    </h4>
                </div>
                <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="card-title text-center mb-0">
                        <a class="text-white" href="">Student Loans Guy</a>
                    </h4>
                </div>
                <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="card-title text-center mb-0">
                        <a class="text-white" href="">Student Loans Guy</a>
                    </h4>
                </div>
                <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="card-title text-center mb-0">
                        <a class="text-white" href="">Student Loans Guy</a>
                    </h4>
                </div>
                <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="card-title text-center mb-0">
                        <a class="text-white" href="">Student Loans Guy</a>
                    </h4>
                </div>
                <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="card-title text-center mb-0">
                        <a class="text-white" href="">Student Loans Guy</a>
                    </h4>
                </div>
                <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="card-title text-center mb-0">
                        <a class="text-white" href="">Student Loans Guy</a>
                    </h4>
                </div>
                <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="card-title text-center mb-0">
                        <a class="text-white" href="">Student Loans Guy</a>
                    </h4>
                </div>
                <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="card-title text-center mb-0">
                        <a class="text-white" href="">Student Loans Guy</a>
                    </h4>
                </div>
                <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="card-title text-center mb-0">
                        <a class="text-white" href="">Student Loans Guy</a>
                    </h4>
                </div>
                <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="card-title text-center mb-0">
                        <a class="text-white" href="">Student Loans Guy</a>
                    </h4>
                </div>
                <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="card-title text-center mb-0">
                        <a class="text-white" href="">Student Loans Guy</a>
                    </h4>
                </div>
                <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="card-title text-center mb-0">
                        <a class="text-white" href="">Student Loans Guy</a>
                    </h4>
                </div>
                <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="card-title text-center mb-0">
                        <a class="text-white" href="">Student Loans Guy</a>
                    </h4>
                </div>
                <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}
