{% extends 'new/base.html' %}
{% load static from staticfiles %}
{% load i18n %}

{% block title %}
Resources page
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
                <div class="f-moto pb-5 pt-5">
{#                    <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">#}
                    <div class="f-moto-shader"></div>
                    <div class="f-moto-layout pb-5 pt-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <h1 class="f-moto-title mb-4 text-center">Lorem ipsum dolor</h1>
                                    <h3 class="f-moto-subtitle text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ducimus eius odit quae.</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

  <div class="container-fluid categories">
    {% for category in object_list %}
      <div class="row">
        <div class="col-12 c-title pt-4 pb-3 mb-4">
            <div class="container c-title-inner">
                <h2 class="text-center text-white">{{ category.title }}</h2>
            </div>
        </div>
         <div class="container">
            <div class="row">
              {% for item in category.resource_set.all %}
                <div class="col-sm-12 col-md-6">
                  <div class="card mb-4">
                    <div class="card-header">
                      <h4 class="card-title text-center mb-0">
                        <a class="text-white" href="{{ item.url }}">{{ item.title }}</a>
                      </h4>
                    </div>
                    <img src="{{ item.image.image.url }}" alt="" class="card-img">
                    <div class="card-body">
                      <p class="card-text">
                        {{ item.description }}
                      </p>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
         </div>
      </div>
    {% endfor %}
  </div>

    <div class="container-fluid categories">
        <div class="row">
            <div class="col-12 c-title pt-4 pb-3 mb-4">
                <div class="container c-title-inner">
                    <h2 class="text-center text-white">Lorem ipsum dolor sit</h2>
                </div>
            </div>
            <div class="container">
                <div class="row">

                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 c-title pt-4 pb-3 mb-4">
                <div class="container c-title-inner">
                    <h2 class="text-center text-white">Lorem ipsum dolor sit</h2>
                </div>
            </div>
            <div class="container">
                <div class="row">

                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 c-title pt-4 pb-3 mb-4">
                <div class="container c-title-inner">
                    <h2 class="text-center text-white">Lorem ipsum dolor sit</h2>
                </div>
            </div>
            <div class="container">
                <div class="row">

                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 c-title pt-4 pb-3 mb-4">
                <div class="container c-title-inner">
                    <h2 class="text-center text-white">Lorem ipsum dolor sit</h2>
                </div>
            </div>
            <div class="container">
                <div class="row">

                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 c-title pt-4 pb-3 mb-4">
                <div class="container c-title-inner">
                    <h2 class="text-center text-white">Lorem ipsum dolor sit</h2>
                </div>
            </div>
            <div class="container">
                <div class="row">

                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 c-title pt-4 pb-3 mb-4">
                <div class="container c-title-inner">
                    <h2 class="text-center text-white">Lorem ipsum dolor sit</h2>
                </div>
            </div>
            <div class="container">
                <div class="row">

                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 c-title pt-4 pb-3 mb-4">
                <div class="container c-title-inner">
                    <h2 class="text-center text-white">Lorem ipsum dolor sit</h2>
                </div>
            </div>
            <div class="container">
                <div class="row">

                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 c-title pt-4 pb-3 mb-4">
                <div class="container c-title-inner">
                    <h2 class="text-center text-white">Lorem ipsum dolor sit</h2>
                </div>
            </div>
            <div class="container">
                <div class="row">

                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 c-title pt-4 pb-3 mb-4">
                <div class="container c-title-inner">
                    <h2 class="text-center text-white">Lorem ipsum dolor sit</h2>
                </div>
            </div>
            <div class="container">
                <div class="row">

                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 c-title pt-4 pb-3 mb-4">
                <div class="container c-title-inner">
                    <h2 class="text-center text-white">Lorem ipsum dolor sit</h2>
                </div>
            </div>
            <div class="container">
                <div class="row">

                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title text-center mb-0">
                                <a class="text-white" href="">Student Loans Guy</a>
                            </h4>
                        </div>
                        <img src="{% static 'img/hero.jpg' %}" alt="" class="card-img">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque deserunt distinctio incidunt nemo nisi obcaecati porro quo, repudiandae sapiente!</p>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}
