{% extends 'new/base.html' %}
{% load i18n %}
{% load markup_tags %}

{% block title %}
  Bear Founders Stories
{% endblock %}

{% block search_panel %}
  {% if is_mobile %}{{ block.super }}{% endif %}
{% endblock search_panel %}

{% block content %}

  <div class="container-fluid page-header">
    <div class="row">
      <div class="f-moto pb-5 pt-5">
        <div class="f-moto-shader"></div>
        <div class="f-moto-layout pb-5 pt-5">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h1 class="f-moto-title mb-4 text-center">Community Stories</h1>
                <h3 class="f-moto-subtitle text-center">Hear stories from fellow bears on startups, internships, jobs, successes, failures and more!</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='container-fluid stories'>
    <div class='row'>
      <div class="container">
        <div class="row">

          {% for story in object_list %}

            <div class="col-sm-12 col-md-6">
              <div class="card mb-4 story-card">
                {% if story.youtube_id %}
                  <a href="{{ story.get_absolute_url }}" class="view overlay hm-white-slight">
                      {% if story.header_image %}
                        <img src="{{ story.header_image.image.url }}" alt="{{ story.header_image.image.title }}" class="card-img"/>
                      {% else %}
                        <img src="http://img.youtube.com/vi/{{ story.youtube_id }}/mqdefault.jpg" class="card-img">
                      {% endif %}
                  </a>
{#                  <div class="header-video">#}
{#                    <a class="card-hover" href='{{ story.get_absolute_url }}'>#}
{#                      <div class="video">#}
{#                        {% if story.header_image %}#}
{#                          <img src="{{ story.header_image.image.url }}" alt="{{ story.header_image.image.title }}"/>#}
{#                        {% else %}#}
{#                          <img src="http://img.youtube.com/vi/{{ story.youtube_id }}/mqdefault.jpg">#}
{#                        {% endif %}#}
{#                      </div>#}
{#                    </a>#}
{#                  </div>#}
                {% else %}
                  <a href="{{ story.get_absolute_url }}" class="view overlay hm-white-slight">
                      {% if story.header_image %}
                        <img src="{{ story.header_image.image.url }}" alt="{{ story.header_image.image.title }}" class="card-img"/>
                      {% endif %}
                  </a>

{#                  <a class="card-hover" href='{{ story.get_absolute_url }}'>#}
{#                    <div class="header-bg">#}
{#                      <div class="avatar">#}
{#                        {% if story.header_image %}#}
{#                          <img src="{{ story.header_image.image.url }}" alt="{{ story.header_image.image.title }}"/>#}
{#                        {% endif %}#}
{#                      </div>#}
{#                      <h2 class="text-white">{{ story.header_name }}</h2>#}
{#                    </div>#}
{#                  </a>#}
                {% endif %}
                <div class="card-body text-center">
                    <a class="card-hover" href='{{ story.get_absolute_url }}'>
                      <h3>{{ story.title }}</h3>
                    </a>
                    {{ story.description|apply_markup:'creole' }}
                </div>


{#                <div class="offer-content">#}
{#                  <div class="info">#}
{#                    <a class="card-hover" href='{{ story.get_absolute_url }}'>#}
{#                      <h3>{{ story.title }}</h3>#}
{#                    </a>#}
{#                    <div class="pcomp"></div>#}
{#                  </div>#}
{#                  <div class="description">#}
{#                    {{ story.description|apply_markup:'creole' }}#}
{#                  </div>#}
{#                </div>#}
              </div>
            </div>

          {% endfor %}

        </div>
      </div>

    </div>
  </div>

{% endblock content %}
