{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% endblock %}

{% block content %}

    <div class="messages"></div>

    <div class='container' style="padding-top: 30px; padding-bottom:30px;">
      <div class='row'>

        {% for story in object_list %}

            <div class="col col-md-4 item">

              <a class="card-hover" href='{{ story.get_absolute_url }}'>
                <div class="card job-card">
                  <div class="header-bg" style="height:100px; background-color:#25283D;">
                    <h2>{{ story.header_name }}</h2>
                    <div class="avatar"
                         {% if story.header_image %}style="background-image: url('{{ story.header_image.image.url }}');"{% endif %}>
                    </div>
                  </div>
                  <div class="offer-content">
                    <div class="info">
                      <h3>{{ story.title }}</h3>
                      <div class="pcomp"></div>
                    </div>
                    <script type="text/javascript">
                      $(function () {
                        $('.description p').each(function (i) {
                          var text = $(this).text().trim()
                          len = text.length
                          if (len > 200) {
                            $(this).text(text.substr(0, 200) + '...')
                          }
                        })
                      })
                    </script>
                    <div class="description">
                      <p>{{ story.content }}</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>

        {% endfor %}

      </div>
    </div>

{% endblock content %}
