#fabric
.fabfile/

#useless files

*.pyc
/*.pyc
bf/
errorlog.txt
__pycache__/

#keep prod settings and local separate
#berkeleyconnect/settings.py

#more useless files
.bowerrc
*/__pycache__/*
*.sqlite3
media/*

#for venv
venv/

/.idea/
/static/
/berkeleyconnect/local_settings.py
/bower_components/
/node_modules/
