{% load static from staticfiles %}
{% load website_tags %}
{% load imagekit %}

<!DOCTYPE html>
<html lang="en">

{% block head %}
<head>
  <meta charset="UTF-8">
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="google-site-verification" content="nPkjkzj2J7V1MRk-0QBYC7GQnfKtWPBdCvvL0Y_qGbM"/>
  <link rel='shortcut icon' type='image/x-icon' href='{% static 'img/favicon.ico' %}?r=1'/>

  <title>{% block title %}{% endblock title %}</title>

</head>
{% endblock head %}
<body>

</body>
</html>