{% extends 'new/base.html' %}
{% load static from staticfiles %}
{% load website_tags %}
{% load i18n %}

{% block title %}
  Bear Founders stories
{% endblock %}


{% block search_panel %}
  {% if is_mobile %}{{ block.super }}{% endif %}
{% endblock search_panel %}

{% block content %}

  <div class="container-fluid page-header">
    <div class="row">
      <div class="f-moto pb-5 pt-5">
        <div class="f-moto-shader"></div>
        {#        <nav class="navbar navbar-expand-sm">#}
        {#          <ul class="navbar-nav mx-auto smooth-scroll">#}
        {#            {% for category in object_list %}#}
        {#              <li class="nav-item text-center">#}
        {#                <a class="nav-link" href="#category-{{ category.id }}">{{ category.title }}</a>#}
        {#              </li>#}
        {#            {% endfor %}#}
        {#          </ul>#}
        {#        </nav>#}
        <div class="f-moto-layout pb-5 pt-5">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h1 class="f-moto-title mb-4 text-center">Bear founders stories</h1>
                <h3 class="f-moto-subtitle text-center">Fairy tales spelled out on Bear Founders )!</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid categories with-top-padding">
    <div class="container">
      <div class="row">
        {% for story in object_list %}
          <div class="col-sm-12 col-md-6">
              <div class="card-header">
                <h4 class="card-title text-center mb-0 text-white">
                  {{ story.title }}
                </h4>
              </div>
              <div class="view overlay hm-white-slight">
                <a class="card-hover" href='{{ story.get_absolute_url }}'>
                  {% if story.youtube_id %}
                    <div class="header-video">
                      <div class="video">
                        {% if story.header_image %}
                          <img src="{{ story.header_image.image.url }}" alt="{{ story.header_image.image.title }}"/>
                          {#                            <i class="fa fa-youtube-play" aria-hidden="true"></i>#}
                        {% else %}
                          <img src="http://img.youtube.com/vi/{{ story.youtube_id }}/mqdefault.jpg">
                          {#                            <i class="fa fa-youtube-play" aria-hidden="true"></i>#}
                        {% endif %}
                      </div>
                    </div>
                  {% else %}
                    <div class="header-bg">
                      <div class="avatar">
                        {% if story.header_image %}
                          <img src="{{ story.header_image.image.url }}" alt="{{ story.header_image.image.title }}"/>
                        {% endif %}
                      </div>
                      <h2>{{ story.header_name }}</h2>
                    </div>
                  {% endif %}
{#                <img src="{{ item.image.image.url }}" alt="{{ item.image.title }}" class="card-img">#}
              </div>
              <div class="card-body">
                <p class="card-text">
                  {{ item.description }}
                </p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock content %}

{#{% if is_mobile %}#}
{##}
{#  {% block mobile_content %}#}
{##}
{#    <div class='container' style="padding-top: 30px; padding-bottom:30px;">#}
{#      <div class='row'>#}
{##}
{#        {% for story in object_list %}#}
{##}
{#            <div class="col col-md-4 item">#}
{##}
{#                <div class="card story-card text-">#}
{#                  <a class="card-hover" href='{{ story.get_absolute_url }}'>#}
{#                    {% if story.youtube_id %}#}
{#                      <div class="header-video">#}
{#                        <div class="video">#}
{#                          {% if story.header_image %}#}
{#                            <img src="{{ story.header_image.image.url }}" alt="{{ story.header_image.image.title }}"/>#}
{#                            <i class="fa fa-youtube-play" aria-hidden="true"></i>#}
{#                          {% else %}#}
{#                            <img src="http://img.youtube.com/vi/{{ story.youtube_id }}/mqdefault.jpg">#}
{#                            <i class="fa fa-youtube-play" aria-hidden="true"></i>#}
{#                          {% endif %}#}
{#                        </div>#}
{#                      </div>#}
{#                    {% else %}#}
{#                      <div class="header-bg">#}
{#                        <h2>{{ story.header_name }}</h2>#}
{#                        <div class="avatar">#}
{#                          {% if story.header_image %}#}
{#                            <img src="{{ story.header_image.image.url }}" alt="{{ story.header_image.image.title }}"/>#}
{#                          {% endif %}#}
{#                        </div>#}
{#                      </div>#}
{#                    {% endif %}#}
{#                  </a>#}
{#                  <div class="offer-content">#}
{#                    <div class="info">#}
{#                      <a class="card-hover" href='{{ story.get_absolute_url }}'>#}
{#                        <h3>{{ story.title }}</h3>#}
{#                      </a>#}
{#                      <div class="pcomp"></div>#}
{#                    </div>#}
{#                    <div class="description">#}
{#                      <p>{{ story.description|apply_markup:'creole' }}</p>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#        {% endfor %}#}
{##}
{#      </div>#}
{#    </div>#}
{##}
{#  {% endblock %}#}
{##}
{#{% else %}#}
{##}
{#  {% block content %}#}
{##}
{#    <div class='container' style="padding-top: 30px; padding-bottom:30px;">#}
{#        <div class='row'>#}
{##}
{#          {% for story in object_list %}#}
{##}
{#              <div class="col col-md-4 item">#}
{#                  <div class="card story-card">#}
{#                    <a class="card-hover" href='{{ story.get_absolute_url }}'>#}
{#                    {% if story.youtube_id %}#}
{#                      <div class="header-video">#}
{#                        <div class="video">#}
{#                            {% if story.header_image %}#}
{#                              <img src="{{ story.header_image.image.url }}" alt="{{ story.header_image.image.title }}"/>#}
{#                            {% else  %}#}
{#                              <img src="http://img.youtube.com/vi/{{ story.youtube_id }}/mqdefault.jpg">#}
{#                            {% endif %}#}
{#                        </div>#}
{#                      </div>#}
{#                    {% else %}#}
{#                      <div class="header-bg">#}
{#                        <h2>{{ story.header_name }}</h2>#}
{#                        <div class="avatar">#}
{#                            {% if story.header_image %}#}
{#                              <img src="{{ story.header_image.image.url }}"  alt="{{ story.header_image.image.title }}"/>#}
{#                            {% endif %}#}
{#                        </div>#}
{#                      </div>#}
{#                    {% endif %}#}
{#                    </a>#}
{#                    <div class="offer-content">#}
{#                      <div class="info">#}
{#                        <a class="card-hover" href='{{ story.get_absolute_url }}'>#}
{#                          <h3>{{ story.title }}</h3>#}
{#                        </a>#}
{#                        <div class="pcomp"></div>#}
{#                      </div>#}
{#                      <div class="description">#}
{#                        {{ story.description|apply_markup:'creole' }}#}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}
{#              </div>#}
{##}
{#          {% endfor %}#}
{##}
{#        </div>#}
{#      </div>#}
{##}
{#  {% endblock content %}#}
{##}
{#{% endif %}#}