html, body, header {
    height: 100%;
}

#intro {
    height: 100%;
    background: url("/img/hero.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-brand {
    color: #041E41;
    font-weight: bold;
}

.navbar-nav .member-name {
    background-color: #FFB819;
}

.navbar-nav .dropdown-menu {
    border: 2px solid #FFFFFF;
    background-color: #FFB819;
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #FFB819;
}

.card {
    width: 280px;
    height: 60vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

hr {
    height: 1px;
    background-color: #041E41;
}

.startups {
    background-color: #FFFFFF;
}

.jobs {
    background-color: #FFB819;
}

.members {
    background-color: #46535E;
}

.card .card-title {
    color: #041E41; 
    font-weight: bold;
}

.card .card-text {
    color: #041E41; 
    font-size: 20px;
}

.members .card-title {
    color: #FFFFFF; 
    font-weight: bold;
}

.members .card-text {
    color: #FFFFFF; 
    font-size: 18px;
}

@media (max-width: 575px) {
    .card .card-text {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .card {
        width: 175px;
        height: 300px;
    }
    
    .card .card-title {
        font-size: 28px;
    }
}