/*Common styles*/

.wrapper {

    }

/*Header*/

.header {

    }

/*Bootstrap adjust and fixtures*/

.navbar-brand {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    background: url("../images/bear.png") center no-repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    }


