#search input {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
}

#search input[type="search"]::-webkit-search-decoration,
#search input[type="search"]::-webkit-search-cancel-button,
#search input[type="search"]::-webkit-search-results-button,
#search input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.cd-main-search .cd-search-button {
  display: inline-block;
  right: 50px;
  top: 50%;
  bottom: auto;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
#searchbutton {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #8F3985;
  transition: all .2s ease-in-out;
}
#searchbutton:hover {
  transform: scale(1.1);
}
#search select, #search input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
}

#search input[type="search"] {
  border-radius: 0;
  margin-top: 0;
  border-bottom: solid 3px #8F3985;
}

#search select {
  background-color: transparent;
  cursor: pointer;
}
.cd-main-search .cd-select {
  /* hide select element on small devices */
  display: none;
}
.cd-main-search input[type="search"] {
  width: 100%;
  color: white;
}
.cd-main-search input[type="search"]:focus {
  outline: none;
}
.cd-main-search input[type="search"]::-webkit-input-placeholder {
  color: #d3d3d3;
}
.cd-main-search input[type="search"]::-moz-placeholder {
  color: white;
}
.cd-main-search input[type="search"]:-moz-placeholder {
  color: white;
}
.cd-main-search input[type="search"]:-ms-input-placeholder {
  color: #d3d3d3;
}
@media only screen and (min-width: 1024px) {
  .cd-main-search {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #25283D;
    /*background: white;*/
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    -moz-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
  }

  .cd-main-search .searchform {
    position: relative;
    height: 100%;
    /* 170px (margin left) is the sum of the logo width (124px) and additional 46px margin (to separate the form form the logo) */
    /* 116px (margin right) takes into account the space occupied by the a.cd-search-trigger and a.close */
    margin: 0 calc(5% + 40px) 0 calc(5% + 110px);
  }

  .cd-main-search input[type="search"] {
    font-size: 2.4rem;
    height: 100%;
    background-color: transparent;
    color: white;
    /* don't overlap <select> element */
    padding-right: 220px;
  }

  .cd-main-search .cd-select {
    display: inline-block;
    position: absolute;
    right: 100px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #5c5d6a;
    font-size: 1.4rem;
    overflow: hidden;
  }

  .cd-main-search span {
    display: inline-block;
  }

  .cd-main-search option {
    /* style <option> elements on Firefox */
    color: #333545;
    background-color: #ffffff;
  }

  .cd-main-search select {
    /* the <select> element is not visible (if the list of options is not open) -  it is covered by the .selected-value element */
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
    color: transparent;
  }

  .cd-main-search select:focus {
    outline: none;
  }

  .cd-main-search select:focus + span.selected-value {
    background-color: #3d3f4e;
  }

  .cd-main-search .selected-value {
    /* this <span> element covers the <select> element - its content is changed (using JavaScript) and set equal to the selected <option> value */
    /* its width automatically changes according to the text of the selected <option> (not possible with a <select> element) */
    color: #ffffff;
    /* clicking on this element will open the <select> drop-down list */
    pointer-events: none;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }

  .cd-main-search select, .cd-main-search .selected-value {
    padding: 0.5em .3em 0.5em .3em;
    font-size: 1.4rem;
    border-radius: 3px;
  }

  .cd-main-search.is-visible {
    /* search form open */
    opacity: 1;
    visibility: visible;
  }
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 100px;
  right: 10px;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #25283D url(https://codyhouse.co/demo/back-to-top/img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.no-touch .cd-top:hover {
  background-color: #8F3985;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

.font-weight-bold {
  font-weight: bold;
}

.card.job-card .avatar {
  width: 80px;
  height: 80px;
  top: 10px;
  left: 10px;
  border: 5px solid rgba(63, 122, 183, 0.8);
  transform: translateY(0);
}
.card.job-card .header-bg  {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.card.job-card .header-bg h2 {
  overflow: hidden;
  white-space: nowrap;
  padding-left: 100px;
  color: rgb(233, 233, 233);
  margin: 0;
  display: inline-block;
  text-overflow: ellipsis;
}
.card.job-card .content {
  max-height: 33%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0;
}
.card.job-card .offer-content {
  max-height: 33%;
  margin-top: 0;
}
.card.job-card .mdata {
  display: block;
  margin: 1rem 0;
}
.container.list .card.job-card .mdata {
  display: inline-block;
  margin: 0;
}
.card.job-card .offer-content .description {
  padding: .5rem 0 .5rem 0;
}
.container .item {
  height: 400px;
}
.container.list .item {
  height: auto;
}
.container.list .col-md-4.item {
  width: 100%;
}
.container.list .card {
  display: flex;
  flex: 0 0 100%;
  justify-content: flex-start;
  flex-direction: row-reverse;
}
.container.list .col-md-4.item {
  margin-bottom: 1rem;
}
.container.list .col-md-4.item .header-bg {
  flex: 0 0 33%;
}
.container.list .col-md-4.item .content{
  display: none;
}
.container.list .col-md-4.item .offer-content {
  display: flex;
  flex: 1 1 1px;
  height: auto;
}
.container.list .col-md-4.item .offer-content .info,
.container.list .col-md-4.item .offer-content .description {
  flex: 0 0 50%;
}
.container.list .col-md-4.item .offer-content .description {
  overflow: hidden;
  max-height: 100px;
  padding: 1rem;
  text-overflow: ellipsis;
}
.container.list .col-md-4.item .offer-content .info {
  text-align: left;
  padding-left: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.container.list .col-md-4.item .offer-content .info .pcomp {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cd-switch-view {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  bottom: auto;
  color: white;
  font-size: 3rem;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}


.cd-switch-view input {
  display: none;
}
.cd-switch-view *{
  cursor: hand;
}
.cd-switch-view *:hover {
  transform: scale(1.1);
}
.cd-switch-view #view_type + label .fa-list{
  display: block;
}
.cd-switch-view #view_type + label .fa-th-large{
  display: none;
}
.cd-switch-view #view_type:checked + label .fa-list {
  display: none;
}
.cd-switch-view #view_type:checked + label .fa-th-large{
  display: block;
}