#search input {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
}

#search input[type="search"]::-webkit-search-decoration,
#search input[type="search"]::-webkit-search-cancel-button,
#search input[type="search"]::-webkit-search-results-button,
#search input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.cd-main-search .cd-search-button {
  display: inline-block;
  right: 20px;
  top: 50%;
  bottom: auto;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cd-main-search .cd-search-button.for-mobile {
  right: 5px;
}
#searchbutton {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #8F3985;
  transition: all .2s ease-in-out;
}
#searchbutton:hover {
  transform: scale(1.1);
}
#search select, #search input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
}

#search input[type="search"] {
  border-radius: 0;
  margin-top: 0;
  /*border-bottom: solid 3px #8F3985;*/
  background-color: rgba(0,0,0,0);
  width: 100%;
  height: 100%;
  bottom: 0px;
  position:absolute;
  padding-left: 2%;
  flex: 0 0 100%;
}

#search input[type="search"].for-mobile  {
  border-radius: 0;
  margin-top: 0;
  /*border-bottom: solid 3px #8F3985;*/
  background-color: rgba(0,0,0,0);
  width: 100%;
  height: 100%;
  bottom: 0px;
  position:absolute;
  flex: 0 0 100%;
  margin-left: 0;
  padding-left: 40px;
  padding-right: 50px;
}

@media screen and (min-width: 1024px) {
  #search input[type="search"] {
    width: 100%;
    margin-left: 0;
    padding-left: 40px;
  }
}

#search select {
  background-color: transparent;
  cursor: pointer;
}
.cd-main-search .cd-select {
  display: inline-block;
  position: absolute;
  z-index: 1;
  right: 70px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #5c5d6a;
  font-size: 1.4rem;
  overflow: hidden;
}
.cd-main-search select, .cd-main-search .selected-value {
  padding: 0.5em .3em 0.5em .3em;
  font-size: 1.4rem;
  border-radius: 3px;
}
.cd-main-search .selected-value {
  /* this <span> element covers the <select> element - its content is changed (using JavaScript) and set equal to the selected <option> value */
  /* its width automatically changes according to the text of the selected <option> (not possible with a <select> element) */
  color: #ffffff;
  /* clicking on this element will open the <select> drop-down list */
  pointer-events: none;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.cd-main-search span {
  display: inline-block;
}
.cd-main-search option {
  /* style <option> elements on Firefox */
  color: #333545;
  background-color: #ffffff;
}
.cd-main-search select {
  /* the <select> element is not visible (if the list of options is not open) -  it is covered by the .selected-value element */
  position: absolute;
  right: 0;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
  color: transparent;
}

.cd-main-search select:focus {
  outline: none;
}

.cd-main-search select:focus + span.selected-value {
  background-color: #3d3f4e;
}
.cd-main-search input[type="search"] {
  width: 100%;
  color: white;
}
.cd-main-search input[type="search"]:focus {
  outline: none;
}
.cd-main-search input[type="search"]::-webkit-input-placeholder {
  color: #d3d3d3;
}
.cd-main-search input[type="search"]::-moz-placeholder {
  color: white;
}
.cd-main-search input[type="search"]:-moz-placeholder {
  color: white;
}
.cd-main-search input[type="search"]:-ms-input-placeholder {
  color: #d3d3d3;
}
@media only screen and (min-width: 1024px) {
  .cd-main-search {
    position: absolute;
    /*z-index: 2;*/
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #25283D;
    /*background: white;*/
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    -moz-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
  }

  .cd-main-search .searchform {
    position: relative;
    height: 100%;
    /* 170px (margin left) is the sum of the logo width (124px) and additional 46px margin (to separate the form form the logo) */
    /* 116px (margin right) takes into account the space occupied by the a.cd-search-trigger and a.close */
    margin: 0 calc(5% + 40px) 0 calc(5% + 40px);
    display: flex;
    flex-flow: row nowrap;
  }

    .cd-main-search .searchform > input {
      position: relative !important;
    }

    /*.cd-main-search .searchform > div {*/
      /*position: relative !important;*/
    /*}*/

  .cd-main-search input[type="search"] {
    font-size: 2.4rem;
    height: 100%;
    background-color: transparent;
    color: white;
    /* don't overlap <select> element */
    padding-right: 170px;
    padding-left: 40px;
  }

  .cd-main-search.is-visible {
    /* search form open */
    opacity: 1;
    visibility: visible;
  }
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 100px;
  right: 10px;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #25283D url(https://codyhouse.co/demo/back-to-top/img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.no-touch .cd-top:hover {
  background-color: #8F3985;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
  .cd-secondary-nav.cd-search-nav.first {
    display: flex;
  }

}

.font-weight-bold {
  font-weight: bold;
}

.card.job-card .avatar {
  width: 80px;
  height: 80px;
  top: 10px;
  left: 10px;
  border: 5px solid rgba(63, 122, 183, 0.8);
  transform: translateY(0);
}
.card.job-card .header-bg  {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.card.job-card .header-bg h2 {
  overflow: hidden;
  white-space: nowrap;
  padding-left: 100px;
  color: rgb(233, 233, 233);
  margin: 0;
  display: inline-block;
  text-overflow: ellipsis;
}
.card.job-card .content {
  max-height: 33%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0;
}
.card.job-card .offer-content {
  max-height: 33%;
  margin-top: 0;
}
.card.job-card .mdata {
  display: block;
  margin: 1rem 0;
}
.container.list .card.job-card .mdata {
  display: inline-block;
  margin: 0;
}
.card.job-card .offer-content .description {
  padding: .5rem 0 .5rem 0;
}
.container .item {
  height: 400px;
}
.container.list .item {
  height: auto;
}
.container.list .col-md-4.item {
  width: 100%;
}
.container.list .card {
  display: flex;
  flex: 0 0 100%;
  justify-content: flex-start;
  flex-direction: row-reverse;
}
.container.list .col-md-4.item {
  margin-bottom: 1rem;
}
.container.list .col-md-4.item .header-bg {
  flex: 0 0 33%;
}
.container.list .col-md-4.item .content{
  display: none;
}
.container.list .col-md-4.item .offer-content {
  display: flex;
  flex: 1 1 1px;
  height: auto;
}
.container.list .col-md-4.item .offer-content .info,
.container.list .col-md-4.item .offer-content .description {
  flex: 0 0 50%;
}
.container.list .col-md-4.item .offer-content .description {
  overflow: hidden;
  max-height: 100px;
  padding: 1rem;
  text-overflow: ellipsis;
}
.container.list .col-md-4.item .offer-content .info {
  text-align: left;
  padding-left: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.container.list .col-md-4.item .offer-content .info .pcomp {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cd-switch-view {
  display: none;
  z-index: 1;
}

.cd-select.filter-container {
  overflow: visible;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.cd-select.filter-container > div {
  margin-left: 5px;
}

@media screen and (min-width: 768px) {
  .cd-switch-view {
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 50%;
    text-align: left;
    width: 40px;
    height: 40px;
    bottom: auto;
    color: white;
    font-size: 3rem;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cd-main-search .cd-search-button {
    right: 0px;
  }
  .cd-main-search .cd-select {
    right: 50px;
  }
  #search input[type="search"] {
    padding-left: 40px;
  }
}


.cd-switch-view input {
  display: none;
}
.cd-switch-view *{
  cursor: hand;
}
.cd-switch-view *:hover {
  transform: scale(1.1);
}
.cd-switch-view #view_type + label .fa-list{
  display: block;
}
.cd-switch-view #view_type + label .fa-th-large{
  display: none;
}
.cd-switch-view #view_type:checked + label .fa-list {
  display: none;
}
.cd-switch-view #view_type:checked + label .fa-th-large{
  display: block;
}

.cd-secondary-nav.cd-search-nav {
  /*background-color: white;*/
}
.cd-secondary-nav.cd-search-nav::after {
  background-color: white;
}
.cd-secondary-nav.cd-search-nav.first {
  height: auto;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.cd-secondary-nav.cd-search-nav.tags {
  height: auto;
}


@media handheld {
  .cd-secondary-nav.cd-search-nav.first {
    display: none;
  }
}
.cd-secondary-nav.cd-search-nav.first .filter-container,
.cd-secondary-nav.cd-search-nav.tags .filter-container {
  display: inline-flex;
  padding: 0 5px;
}
.tags {
  min-height: 0;
  height: 0;
  display: flex;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}
.tags.selected {
  margin-top: .5rem;
  margin-bottom: .5rem;
  height: auto;
}
.tags .filter-container{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.cd-secondary-nav.cd-search-nav.tags {
  background-color: white;
}
.cd-secondary-nav.cd-search-nav.tags:after {
  background: white;
}
.cd-secondary-nav.cd-search-nav.tags .tags .filter-container:hover {
  white-space: normal;
  display: flex;
}
.cd-secondary-nav.cd-search-nav.tags .tag {
  margin-right: .2rem;
  margin-bottom: .2rem;
}
.cd-secondary-nav.cd-search-nav.tags .tag [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
}
.cd-secondary-nav.cd-search-nav.tags .tag [data-role="remove"]:after {
    content: "x";
    padding: 0px 2px;
}
.cd-secondary-nav.cd-search-nav.first .nice-select {
  text-transform: capitalize;
}

.nice-select.small {
  font-size: 1.5rem;
  height: 2.5rem;
  line-height: 2.4rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
  background-color: #25283d;
  color: white;
  border: none;
}

.nice-select.small .list {
  color: #333;
  max-height: 60vh;
  overflow-y: auto;

}

.nice-select.small::after {
  display: inline-block;
  content: '\f107';
  margin-left: 1rem;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  border-bottom: none;
  border-right: none;
  /*display: block;*/
  height: auto;
  margin-top: 0;
  pointer-events: none;
  position: relative;
  right: auto;
  top: auto;

  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 5px;
}

.nice-select.open:after {
  content: '\f106';
}

.nice-select .list::before {
  content: ' ';
}
.nice-select .option:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.nice-select.no-overflow .list{
  overflow: visible;
}
.nice-select .option.optgroup:after {
  margin-left: 1rem;
  font: normal normal normal 14px/1 FontAwesome;
  content: '\f105';
}
.nice-select .option {
  position: relative;
}
.nice-select.no-overflow .list .option .list{
  display: none;
  top: 50%;
  left: 80%;
}
.nice-select.no-overflow .list .option:hover .list{
  display: block;
}
.checkboxes.startups, .checkboxes.jobs, .checkboxes.partners, .checkboxes.employees, .checkboxes.freelancers,
.selects.startups, .selects.jobs, .selects.partners, .selects.employees, .selects.freelancers {
  display: none;
}
.tags.startups.is-visible,
.tags.jobs.is-visible,
.tags.partners.is-visible,
.tags.employees.is-visible,
.tags.freelancers.is-visible {
  display: flex;
}

.checkboxes.startups.is-visible,
.checkboxes.jobs.is-visible,
.checkboxes.partners.is-visible,
.checkboxes.employees.is-visible,
.checkboxes.freelancers.is-visible {
  display: block;
}
.selects.startups.is-visible,
.selects.jobs.is-visible,
.selects.partners.is-visible,
.selects.employees.is-visible,
.selects.freelancers.is-visible {
  /*display: block;*/
  display: flex;
  flex-flow: row nowrap;
  align-self: center;
}
.tag {
  position: relative;
}
.tag.outer::before {
    content: '...';
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: black;
    text-align: left;
}
.tags:hover .tag.outer::before {
  display: none;
}
.tags:hover .filter-container {
  flex-wrap: wrap;
}

.cd-secondary-nav.cd-search-nav.first {
  padding: 0 0 0 40px;
  display: flex;
  align-items: center;
  flex: 1 1 100%;
}
.cd-secondary-nav.cd-search-nav.first::after {
  content: normal;
}

.label-year, .label-years, .label-stage, .label-category {
  background-color: #6f6f9f;
}
.label-major, .label-majors, .label-level {
  background-color: #9f6f6f;
}
.label-role, .label-roles, .label-pay {
  background-color: #6f9f9f;
}
.label-field, .label-f_fields, .label-fields {
  background-color: #9f9f6f;
}
.label-position {
  background-color: #b8860b;
}
.label-experience {
  background-color: #da8ff8;
}
.label-clear {
  background-color: red;
  cursor: pointer;
}
.messages {
  padding-top: 125px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}
.messages.tags {
  padding-top: 145px;
}

@media only screen and (max-width: 1023px) {
  .cd-secondary-nav.cd-search-nav.first {
    display: none;
  }
}
.searchform {
  border-bottom: solid 3px #8F3985;
}
.select-category {
  display: none;
  }

[off-canvas*=left], [off-canvas*=right] {
  width: 87vw;
  }

@media (min-width: 640px) and (orientation: landscape) {
[off-canvas*=left], [off-canvas*=right] {
  width: 55vw;
  }
}
@media (min-width: 700px) and (orientation: landscape) {
[off-canvas*=left], [off-canvas*=right] {
  width: 50vw;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
[off-canvas*=left], [off-canvas*=right] {
  width: 40vw;
  }
}
.checkboxes .filter-container {
  padding: 10px 0;
}
  .checkboxes .filter-container.show label._hidden {
    overflow: visible;
    margin: 0 0 5px;
    padding: 5px 40px 5px 20px;
    height: auto;
    }
  .checkboxes .filter-container label {
    position: relative;
    padding: 5px 40px 5px 20px;
    display: block;
    transition: all 0.3s ease;
  }
  .checkboxes .filter-container.search-category label {
    position: relative;
    padding: 5px 40px 5px 20px;
    display: block;
    transition: all 0.1s ease;
  }
  .checkboxes .filter-container label._hidden {
    overflow: hidden;
    padding: 0 40px 0 20px;
    margin: 0;
    height: 0;
    }
  .checkboxes .filter-container input[type="radio"]:checked+label,
  .checkboxes .filter-container input[type="checkbox"]:checked+label,
  .checkboxes .filter-container label:focus {
    background: #8F3985;
    }
    .checkboxes .filter-container label input {
      display: none;
      }
    .checkboxes .filter-container input[type="radio"],
    .checkboxes .filter-container input[type="checkbox"] {
      display: none;
      }
    .checkboxes .filter-container label i {
      position: absolute;
      right: 25px;
      top: 8px;
      color: #ffffff;
      }
    .checkboxes .filter-container input[type="radio"]+label i,
    .checkboxes .filter-container input[type="checkbox"]+label i {
      position: absolute;
      right: 25px;
      top: 8px;
      color: #ffffff;
      }

    .checkboxes .filter-container i.fa-check-square {
      display: none;
      }

    .checkboxes .filter-container input:checked ~ i.fa-square {
      display: none;
      }
    .checkboxes .filter-container input:checked ~ i.fa-check-square {
      display: block;
      }
    .checkboxes .filter-container input[type="checkbox"]:checked+label  i.fa-square {
      display: none;
      }
    .checkboxes .filter-container input[type="checkbox"]:checked+label  i.fa-check-square {
      display: block;
      }

    .checkboxes .filter-container i.fa-dot-circle-o {
      display: none;
      }
    .checkboxes .filter-container input[type="radio"]:checked+label i.fa-circle-o {
      display: none;
      }
    .checkboxes .filter-container input[type="radio"]:checked+label i.fa-dot-circle-o {
      display: block;
      }
.filter-show {
  margin: 0 auto;
  width: 85%;
  text-align: center;
  display: block;
  }

.cd-show-filter.toggle-id-1{
  z-index: 13;
  display: inline-block;
  position: absolute;
  top: 50%;
  text-align: left;
  padding-left: 0.5rem;
  width: 40px;
  height: 40px;
  bottom: auto;
  color: white;
  font-size: 3rem;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}
.cd-show-filter input {
  display: none;
}
.cd-show-filter *{
  cursor: hand;
}
.cd-show-filter *:hover {
  transform: scale(1.1);
}
.cd-show-filter #show_filter + label .fa-list{
  display: block;
}
.cd-show-filter #show_filter + label .fa-th-large{
  display: none;
}
.cd-show-filter #show_filter:checked + label .fa-list {
  display: none;
}
.cd-show-filter #show_filter:checked + label .fa-th-large{
  display: block;
}
.filter-title-block {
  text-transform: capitalize;
  position: relative;
  padding: 5px 40px 5px 20px;
  display: block;
  font-weight: 700;
  font-size: 1.9rem;
  color: #337ab7;
}
.checkboxes.bottom {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  padding: 5px 20px 5px 20px;
}
.checkboxes .top {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  padding: 5px 20px 5px 20px;
  font-weight: 700;
  font-size: 1.9rem;
}
.filter-show.text-left {
  text-align: left;
  margin: 0;

}
.checkboxes.bottom .btn-primary {
  margin: 0 auto;
  width: 85%;
  text-align: center;
  display: block;
}
.mobile-filter-header {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  font-weight: 700;
  padding: 5px 40px 5px 20px;
  text-align: center;
  font-size: 1.9rem;
}
.link-blue {
    color: #337ab7;
}
.search-select .mobile-filter-header {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}
.loading-overlay {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}
.loading-overlay i {
  width: 100%;
  margin: 0 auto;
  margin-top: 50vh;
}