html.hide-overflow{
    overflow: scroll;
    overflow-x: hidden;
}

html.hide-scrollbar::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
html.hide-scrollbar-thumb::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.centered{
    margin: 0 auto;
    float: none;
}

.clear10, .clear20, .clear30{
    clear: both;
    display: block;
}

.clear10{
    height: 10px;
}

.clear20{
    height: 20px;
}

.clear30{
    height: 30px;
}

select[id^='id_'] {
    margin-bottom: 10px;
}

div#div_id_logo, div#div_id_image {
    margin-bottom: 10px;
    margin-top: 10px;
}