ul {
    list-style-type: none;
    padding-left: 0;
}

.centered {
    margin: 0 auto;
    float: none;
}

.clear10, .clear20, .clear30 {
    clear: both;
    display: block;
}

.clear10 {
    height: 10px;
}

.clear20 {
    height: 20px;
}

.clear30 {
    height: 30px;
}

select[id^='id_'] {
    margin-bottom: 10px;
}

div#div_id_logo, div#div_id_image {
    margin-bottom: 10px;
    margin-top: 10px;
}

div.alert-error ul li, p[id^='error_'] {
    color: red;
}

p.help-block strong {
    font-weight: normal;
}

#menubutton:hover {
    transform: scale(1.1);
}

#menubutton {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #8F3985;
    transition: all .2s ease-in-out;
}

[off-canvas] {
    color: white;
    background-color: #25283d;
}

ul#cd-navigation div.nice-select {
    background: none !important;
    color: #25283D;
    line-height: 80px;
    font-size: 1.8rem;
}
ul#cd-navigation div.nice-select .list{
    top: 75%;
}

#profiles_holder {
    padding: 0;
}

ul#cd-navigation div.nice-select ul.list li {
    width: 100%;
}

.welcome-links {
    display: none;
    height: 100%;
    overflow: hidden;
}
.welcome-links.visible {
    display: flex;
}

.welcome-links a {
    width: 100%;
    display: block;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    vertical-align: middle;
    position: relative;
}
.welcome-links a.welcome-startups {
    background-image: url("../images/default/tower.jpg");
}
.welcome-links a.welcome-members {
    background-image: url("../images/default/gates.jpg");
}
.welcome-links a span {
    position: absolute;
    top:50%;
    left: 50%;
    font-size: 48px;
    transform: translate(-50%, -50%);
}

.welcome-links a > .overlay, .welcome-card > div.overlay {
    width:100%;
    height:100%;
    top: 100%;
    left: 0;
    position:absolute;
    opacity:1;
    background: rgba(44,62,80,0.7);
}

.welcome-links a:hover > .overlay, .welcome-card:hover > div.overlay {
    display: block;
    width:100%;
    height:100%;
    top: 0;
    webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.welcome-links .welcome-card div.oppo {
    font-size: 48px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.welcome-links .welcome-card {
    border: 1px solid white;
    background-image: url('../images/default/opportunities.jpg');
    background-position: right;
    max-height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    z-index: 1;
    width: 25%;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: inset 0px -75px 30px -8px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    inset 0px -75px 30px -8px rgba(50, 50, 50, 0.75);
    box-shadow:         inset 0px -75px 30px -8px rgba(50, 50, 50, 0.75);
}
.welcome-links .welcome-card a {
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
}
html {
    min-height: 100%;
}
body {
    min-height: 100%;
}
height-100 {
    height: 100%
}
.mc-padding {
    padding-top: 80px;
}
.overlay .slogan {
    text-align: center;
    font-size: 1.6em;
    margin-top: 120px;
    color: white;
}

.welcome-card .overlay .slogan {
    margin-top: 20px;
}

.avatar > img {
  max-width: 100%;
  max-height: 100%;
  position:absolute;
  top:50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.card.story-card .avatar {
  width: 80px;
  height: 80px;
  top: 10px;
  left: 10px;
  border: 3px solid rgba(63, 122, 183, 0.8);
  transform: translateY(0);
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.card.story-card .header-bg {
  height:100px;
  background-color:#25283D;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card.story-card .header-video {
  height: 50%;
  background-color: #25283D;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.card.story-card .header-video .video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*border: 3px solid rgba(63, 122, 183, 0.8);*/
  overflow: hidden;
}
.video > img {
  width: 100%;
  position:absolute;
  top:50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
.video .fa-youtube-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 0, 0, 0.80);
    font-size: 8rem;
}
.container .story {
  background-color: white;
}
.container .story h1 {
  font-size: 3.5rem;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}
@media (max-width: 768px) {
  .container .story h1 {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
.jumbotron.min-screen {
  min-height: 100%;
}

#player-col > img {
  width: 100%;
  height: auto;
}
.card.story-card .header-bg h2 {
  overflow: hidden;
  white-space: nowrap;
  padding-left: 100px;
  color: rgb(233, 233, 233);
  margin: 0;
  display: inline-block;
  text-overflow: ellipsis;
}

.checkboxes .filter-container.search-category a {
  position: relative;
  padding: 5px 40px 5px 20px;
  display: block;
  transition: all 0.1s ease;
  color: white;
  font-weight: bold;
}
@media (max-width: 768px) {
  .container .holder {
    width: 100%;
    padding-right: 0px;
    padding-bottom: 0px;
  }
}
@media (min-width: 992px) {
  .container .holder {
    width: 66.66666667%;
    padding-right: 30px;
    padding-bottom: 15px;
  }
}
#player {
  width: 100%;
}