$primary-background-color: #f8f8f8;
$text-shadow: rgba(0, 0, 0, 0.6);
$secondary-color: #e7e7e7;


$profile-image-setup-max-width: 200px;
$margin-sm: 8px;
$margin-md: 16px;
$sm-border-radius : 4px;
$profile-image-max-width : 300px;
$profile-change-hover-max-width : 50px;
$profile-change-max-width : 25px;
 $profile-change-hover-duration : .1s;
$profile-change-icon-margin: 8px;
$loading-icon-height: 36px;


$drop-down-red: #ff6e6e;
$invalid-form :  #dc3545;
