{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Activation complete" %}{% endblock %}

{% if is_mobile %}
  {% block mobile_content %}
    {% url 'auth_login' as auth_login_url %}
    {% blocktrans %}
      <div class="modal-dialog" style="padding-top: 30px; padding-bottom:30px;">
        <div class="profile-form-container">
          <h2>
            This is exciting! Thank you for registering, let's set up your profile now so you can begin finding opportunities!<br>
            You may now <a href='{{ auth_login_url }}' style="color: #8F3985">login</a>
            using the username and password you set at registration.
          </h2>
        </div>
      </div>
    {% endblocktrans %}
  {% endblock %}
{% else %}
  {% block content %}
    {% url 'auth_login' as auth_login_url %}
    {% blocktrans %}
      <div class="modal-dialog" style="padding-top: 30px; padding-bottom:30px;">
        <div class="profile-form-container">
          <h2>
            This is exciting! Thank you for registering, let's set up your profile now so you can begin finding opportunities!<br>
            You may now <a href='{{ auth_login_url }}' style="color: #8F3985">login</a>
            using the username and password you set at registration.
          </h2>
        </div>
      </div>
    {% endblocktrans %}
  {% endblock %}
{% endif %}
