{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
{% trans "Login" %}
{% endblock %}

{% if is_mobile %}

  {% block mobile_content %}
    <div id="login-modal" style="padding-bottom: 20px; min-height: 100%" ;>
      <div class="modal-dialog">
        <div class="loginmodal-container">
          <h1>Login</h1><br>
          <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" name="login" class="loginmodal-submit" value="Login">
          </form>

          <div class="login-help">
            <a href="/register/">Register</a> - <a href="/password/reset">Forgot Password</a> - <a href="/resend/">Resend
            Email</a>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}

{% else %}

  {% block content %}
          <div id="login-modal" style="padding-bottom: 20px; min-height: 100%" ;>
            <div class="modal-dialog">
              <div class="loginmodal-container">
                <h1>Login</h1><br>
                <form method="post">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <input type="submit" name="login" class="loginmodal-submit" value="Login">
                </form>

                <div class="login-help">
                  <a href="/register/">Register</a> - <a href="/password/reset">Forgot Password</a> - <a href="/resend/">Resend
                  Email</a>
                </div>
              </div>
            </div>
        </div>
  {% endblock %}

{% endif %}