{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
{% trans "Login" %}
{% endblock %}

{% block content %}
<div class = "container">
  <div class = "row" style = "display:flex;">
    <div class = "col col-md-6 text-center" style="align-self: center;">
      <h1 style="color: white;">Find a team member to get your project started today</h1>
    </div>
    <div class = "col col-md-6">
      <div id="login-modal" style="padding-bottom: 20px;">
          	  <div class="modal-dialog">
      				<div class="loginmodal-container">
                <h1>Login</h1><br>
                <form method="post">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <input type="submit" name="login" class="loginmodal-submit" value="Login">
                </form>

      				  <div class="login-help">
      					<a href="/register/">Register</a> - <a href="/password/reset">Forgot Password</a>
      				  </div>
      				</div>
      			</div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
