{% load static from staticfiles %}
{#{% load pipeline %}#}
<!doctype html>
<html>
    <head>
        <meta name="google-site-verification" content="nPkjkzj2J7V1MRk-0QBYC7GQnfKtWPBdCvvL0Y_qGbM" />
        <link rel='shortcut icon' type='image/x-icon' href='{% static 'favicon/favicon-connectdevelop.ico' %}?r=1' />
        <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{%  static 'jquery-nice-select/css/nice-select.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/searchbar.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/dropdown.css' %}" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300" rel="stylesheet">
{#        {% javascript 'components' %}#}
        <script src = "{% static 'jquery/dist/jquery.min.js' %}"></script>
        <script src = "{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script src= "{%  static 'jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>
        <script src = "{% static 'js/navbar.js' %}"></script>
        <script src = "{% static 'js/jquery_formset.js' %}"></script>
        <script src = "{% static 'js/script.js' %}"></script>
        <script src = "{% static 'js/Modernizer.js' %}"></script>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/sweetalert2/6.4.4/sweetalert2.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.4.4/sweetalert2.min.css">
        <title>{% block title %}{% endblock %}</title>
        <script>
        {% if show_exp %}
        $(function() {
            $('#profileform .set .forminstance').formset({
              prefix: 'experience_set',
              deleteCssClass: 'remove',
              deleteText:'[&mdash;] remove',
              addCssClass:'add-another',
              addText:'[+] Add work experience',
            });
          });
        {% else %}
          $(function() {
              $('#profileform .set #funding').formset({
                prefx: 'founder_set1',
                deleteCssClass: 'remove',
                deleteText:'[&mdash;] remove',
                addCssClass:'add-another',
                addText:'[+] Add funding round',
                formCssClass: 'dynamic-form1',
              });
              $('#profileform .set #jobs').formset({
                prefix: 'founder_set2',
                deleteCssClass: 'remove',
                deleteText:'[&mdash;] remove',
                addCssClass:'add-another',
                addText:'[+] Add job opening',
                formCssClass: 'dynamic-form2'
              });
            });
          {%endif%}
          $(document).ready(function() {
          setTimeout(function() {
              $('.message').fadeOut('slow');
          }, 2000);
        });
        </script>
    </head>
    <body>
      <header class="cd-auto-hide-header" style="z-index:1005;">
        <div class = "logo"><a href = "/"><img src = "{% static 'favicon/logo.jpg' %}"/></a></div>
      	<nav class="cd-primary-nav">
      		<a href="#cd-navigation" class="nav-trigger">
      			<span>
      				<em aria-hidden="true"></em>
      				Menu
      			</span>
      		</a> <!-- .nav-trigger -->
          {% if request.user.is_authenticated %}

      		<ul id="cd-navigation">
      			<li><a href="/profile/"><img id="headerthumbnail" src = "{%if not request.user.is_founder%}{{request.user.profile.image.url}}{%else%}{{request.user.founder.logo.url}}{%endif%}"> My Profile</a></li>
            <li ><a href="/logout/">Logout</a></li>
      		</ul>
          {% elif not request.user.is_authenticated %}
          <ul id="cd-navigation">
      			<li>
              {% if request.path != '/register/' %}
              <button type="button" class="btn btn-register">Register</button>
              {%else%}
              <button type="button" class="btn btn-login">Login</button>
              {%endif%}
            </li>
      		</ul>
          {% endif %}
      	</nav> <!-- .cd-primary-nav -->
        {% if request.user.is_authenticated%}
        <nav class="cd-secondary-nav">
          <form id="mainform" action="/" autocomplete="off" method="POST">
            {% csrf_token %}
            <div id="dropdown">
              <div class="cd-dropdown-wrapper">
                <a class="cd-dropdown-trigger" href="#0">Filter</a>
                <nav class="cd-dropdown">
                  <a href="#0" class="cd-close">Close</a>
                  <ul class="cd-dropdown-content jobs text-capitalize" style="display: none;">
                    {% for item in job_context %}
                      <li class="has-children">
                        <a href="/">{{ item.0 }}</a>
                        <ul class="cd-dropdown-icons is-hidden">
                          <li class="go-back"><a href="#0">Menu</a></li>
                          {% for subitem in item.1 %}
                            <li class="checkbox">
                              <label>
                                <input type="checkbox" name="{{ item.0 }}" value="{{ subitem.0 }}"
                                       {% if reset or not posted %}checked{% endif %}>
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                {{ subitem.1 }}</label>
                            </li>
                          {% endfor %}
                          <li class="see-all"><input type="submit" value="Update search"></li>
                        </ul>
                      </li>
                    {% endfor %}
                  </ul>
                  <ul class="cd-dropdown-content people">
                    <li class="has-children">
                      <a href="/">Year</a>
                      <ul class="cd-dropdown-icons is-hidden">
                        <li class="go-back"><a href="#0">Menu</a></li>
                        {% for x in years %}
                          <li class="checkbox"><label><input type="checkbox" name="year" value="{{ x.0 }}"
                                                             {% if reset or not posted or x.0 in oldyears %}checked{% endif %}><span
                              class="cr"><i class="cr-icon fa fa-check"></i></span>{{ x.1 }}</label></li>
                        {% endfor %}
                        <li class="see-all"><input type="submit" value="Update search"></li>
                      </ul>
                    </li>
                    <li class="has-children">
                      <a href="/">Major</a>
                      <ul class="cd-dropdown-icons is-hidden">
                        <li class="go-back"><a href="#0">Menu</a></li>
                        {% for x in majors %}
                          <li class="checkbox"><label><input type="checkbox" name="major" value="{{ x.0 }}"
                                                             {% if reset or not posted or x.0 in oldmajors %}checked{% endif %}><span
                              class="cr"><i class="cr-icon fa fa-check"></i></span>{{ x.1 }}</label></li>
                        {% endfor %}
                        <li class="see-all"><input class="regular-checkbox" type="submit" value="Update search"></li>
                      </ul>
                    </li>
                    <li class="has-children">
                      <a href="/">Primary Role</a>
                      <ul class="cd-dropdown-icons is-hidden">
                        <li class="go-back"><a href="#0">Menu</a></li>
                        {% for x in roles %}
                          <li class="checkbox"><label><input type="checkbox" name="role" value="{{ x.0 }}"
                                                             {% if reset or not posted or x.0 in oldroles %}checked{% endif %}><span
                              class="cr"><i class="cr-icon fa fa-check"></i></span>{{ x.1 }}</label></li>
                        {% endfor %}
                        <li class="see-all"><input type="submit" value="Update search"></li>
                      </ul>
                    </li>
                    <li class="has-children">
                      <a href="/">Compensation type</a>
                      <ul class="cd-dropdown-icons is-hidden">
                        <li class="go-back"><a href="#0">Menu</a></li>
                        {% for x in position %}
                          <li class="checkbox"><label><input type="checkbox" name="pos" value="{{ x.0 }}" checked><span
                              class="cr"><i class="cr-icon fa fa-check"></i></span>{{ x.1 }}</label></li>
                        {% endfor %}
                        <li class="see-all"><input type="submit" value="Update search"></li>
                      </ul>
                    </li>
                    <li class="has-children">
                      <a href="/">Startup Field</a>
                      <ul class="cd-dropdown-icons is-hidden">
                        <li class="go-back"><a href="#0">Menu</a></li>
                        {% for x in fields %}
                          <li class="checkbox"><label><input type="checkbox" name="field" value="{{ x.0 }}"
                                                             {% if reset or posted or x.0 in oldfields %}checked{% endif %}><span
                              class="cr"><i class="cr-icon fa fa-check"></i></span>{{ x.1 }}</label></li>
                        {% endfor %}
                        <li class="see-all"><input type="submit" value="Update search"></li>
                      </ul>
                    </li>
                    <hr style="margin-top:0;">
                    <li>
                      <div class="checkbox"><label><input type="checkbox" name="startup" value='True'
                                                          {% if startup %}checked{% endif %}><span class="cr"><i
                          class="cr-icon glyphicon glyphicon-ok"></i></span>Has startup experience</label></div>
                    </li>
                    <li>
                      <div class="checkbox"><label><input type="checkbox" name="funding" value='True'
                                                          {% if funding %}checked{% endif %}><span class="cr"><i
                          class="cr-icon glyphicon glyphicon-ok"></i></span>Has funding experience</label></div>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <div id="search" class="cd-main-search is-visible">
              <div class="searchform">
                <input type="search" name="query" placeholder="Search... ">
                <div class="cd-select">
                  <span>in</span>
                  <select id="selector" name="select-category">
                    <option value="people" {% if not founder and not search_category %}selected{% endif %}>People</option>
                    <option value="startups" {% if founder and not search_category %}selected{% endif %}>Startups</option>
                    <option value="jobs" {% if search_category and search_category == 'jobs' %}selected{% endif %}>Jobs</option>
                  </select>
                  <input name="category" type="hidden"><span class="selected-value"
                                                             style="text-transform:capitalize;"></span></input>
                  <i class="fa fa-chevron-down"></i>
                </div>

                <div class="cd-search-button">
                  <button id="searchbutton" type="submit" class="btn btn-success">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
                <div class="cd-switch-view">
                  <input type="checkbox" name="view_type" id="view_type">
                  <label for="view_type">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    <i class="fa fa-th-large" aria-hidden="true"></i>
                   </label>
                </div>
              </div>
            </div>

          </form>
        </nav> <!-- .cd-secondary-nav -->
        {% endif %}

        {% if request.user.is_authenticated%}
        <nav class="cd-secondary-nav cd-search-nav">
          <div class="container">

            <form id="filterform" action="/" autocomplete="off" method="POST">
              {% csrf_token %}
              {% for item in job_context %}
                <div class="selects">
                  <div class="filter-container">
                    <select class="filter small" name="{{ item.0 }}" multiple>
                      {% for subitem in item.1 %}
                        <option value="{{ subitem.0 }}">{{ subitem.1 }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="tags">
                  <div class="filter-container">

                  </div>
                </div>
              {% endfor %}
              {#                      <li class="has-children">#}
              {#                        <a href="/">{{ item.0 }}</a>#}
              {#                        <ul class="cd-dropdown-icons is-hidden">#}
              {#                          <li class="go-back"><a href="#0">Menu</a></li>#}
              {#                          {% for subitem in item.1 %}#}
              {#                            <li class="checkbox">#}
              {#                              <label>#}
              {#                                <input type="checkbox" name="{{ item.0 }}" value="{{ subitem.0 }}"#}
              {#                                       {% if reset or not posted %}checked{% endif %}>#}
              {#                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>#}
              {#                                {{ subitem.1 }}</label>#}
              {#                            </li>#}
              {#                          {% endfor %}#}
              {#                          <li class="see-all"><input type="submit" value="Update search"></li>#}
              {#                        </ul>#}
              {#                      </li>#}
              {#                    {% endfor %}#}

            </form>

          </div>
        </nav> <!-- .cd-secondary-nav -->
        {% endif %}

      </header> <!-- .cd-auto-hide-header -->
      <main class="cd-main-content" style = "background-color:{% if not request.user.is_authenticated %} #25283D {% else %} white {% endif %}">
        {% if messages and request.user.is_authenticated %}
        <ul class="messages" >
        </ul>
        <div style = "position:fixed;width:30%;z-index:1000;bottom:1.5%;right:1%;">
        {% for message in messages %}
        <div class="message alert {% if message.tags %} alert-{{ message.tags }} {% endif %} fade in" style="position:relative; z-index:1000; width:100%;">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            {% if message.tags %}<strong>{{ message.tags|capfirst }}!</strong>{% endif %} {{message}}.
        </div>
        {% endfor %}
      </div>
        {% elif request.user.is_authenticated %}
        <div class = "messages"></div>
        {% endif %}
        {% block content %}{% endblock %}
      </main> <!-- .cd-main-content -->
      <a href="#0" class="cd-top"></a>
    </body>
    {% if request.user.first_name %}
    <script type="text/javascript">

        name = {%if not user.is_founder%}'{{user.first_name|safe}}'{%else%}'{{user.founder.startup_name|safe}}'{%endif%}
        user = '{{user.id|safe}}'
    </script>
    {% endif %}
    <!-- {% if GOOGLE_ANALYTICS_PROPERTY_ID %} -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ GOOGLE_ANALYTICS_PROPERTY_ID }}', '{{ GOOGLE_ANALYTICS_DOMAIN }}');
      ga('send', 'pageview');

    </script>
    <!-- {% endif %} -->
</html>
