{% extends 'finish-profile-form-base.html' %}
{% load i18n %}


{% block profileform %}
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="currentstep" value="2">


    {% with formItemHeader='1.) What is the primary role you are looking for?' formitemRequired=True ddlist=formDat.primary_roles ddclass='primaryroles' ddselectionlabel='Please select your position!' %}
      {% include './partials/dropdown.html' %}
    {% endwith %}



    {% with formItemHeader=' 2.) What are some of your skills?' formitemRequired=True textareaName='skills' textareaPH='Python, Javascript, SQL...' %}
      {% include './partials/textarea.html' %}
    {% endwith %}


    {% with formItemHeader=' 3.) Please list an alternate email if possible!' formitemRequired=False inputName='altemail' inputPH='jsmith@gmail.com' %}
      {% include './partials/input.html' %}
    {% endwith %}

    <button type="submit" class="btn btn-primary"> Save, Go to School </button>

  </form>
{% endblock %}
