{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{{user.founder.startup_name}}
{% endblock %}

{% if is_mobile %}

  {% block mobile_content %}
    <div class="profile-page">
      <div class="jumbotron">
        <div class="container">
          <div id="profile-hero" class="row well">
            <div class="col-md-4 centerfy">
              <div class='profile-image text-center img-responsive'>
                <img src="{{ user.founder.logo_thumbnail_large.url }}">
              </div>
            </div>
            <div class="col-md-8 centerfy">
              <h1>{{ user.founder.startup_name }}</h1>
              <h3>{{ user.founder.get_field_display }}
                <h3>
                  <p>{{ user.founder.get_stage_display }} with {{ user.founder.employee_count }}
                    Employee{{ user.founder.employee_count|pluralize }}</p>
                  <hr>
                  <h5>Active: {{ last_login|timesince }} ago</h5>
                  {% if profile %}
                    <button id="update" data-href="{% url 'website:startup_update' %}"
                            class="btn btn-lg btn-success btn-outline">Update your company profile
                    </button>
                  {% else %}
                    <button id="connect" class="btn btn-lg btn-primary btn-outline">Contact</button>
                  {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col col-md-8 col-md-offset-2">
            <h2>About</h2>
            <p>{{ user.founder.description|linebreaks }}</p>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-8 col-md-offset-2">
            <h2>Job openings</h2>
            {% for job in jobs %}
              <div class="row">
                <div class="col col-sm-12 well">
                  <h2>{{ job.title }}</h2>
                  <p>{{ job.get_level_display }}</p>
                  {% if job.pay %}
                    <p>{{ job.get_pay_display }}</p>
                  {% endif %}
                  {% if job.description %}
                    <p>{{ job.description|linebreaks }}</p>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
            <hr>
          </div>
        </div>
        {% if user.founder.website != "" %}
          <div class="row">
            <div class="col col-md-8 col-md-offset-2">
              <h2>Website</h2>
              <a target="_blank" href={{ user.founder.website }}>{{ user.founder.website }}</a>
              <hr>
            </div>
          </div>
        {% endif %}
        {% if user.founder.facebook != "" %}
          <div class="row">
            <div class="col col-md-8 col-md-offset-2">
              <h2>Facebook</h2>
              <a target="_blank" href={{ user.founder.facebook }}>{{ user.founder.facebook }}</a>
              <hr>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  {% endblock %}

{% else %}


  {% block content %}
    <div class="profile-page">
      <div class="jumbotron">
        <div class="container">
          <div id="profile-hero" class="row well">
            <div class="col-md-4 centerfy">
              <div class='profile-image text-center img-responsive'>
                <img src="{{ user.founder.logo_thumbnail_large.url }}">
              </div>
            </div>
            <div class="col-md-8 centerfy">
              <h1>{{ user.founder.startup_name }}</h1>
              <h3>{{ user.founder.get_field_display }}
                <h3>
                  <p>{{ user.founder.get_stage_display }} with {{ user.founder.employee_count }}
                    Employee{{ user.founder.employee_count|pluralize }}</p>
                  <hr>
                  <h5>Active: {{ last_login|timesince }} ago</h5>
                  {% if profile %}
                    <button id="update" data-href="{% url 'website:startup_update' %}"
                            class="btn btn-lg btn-success btn-outline">Update your company profile
                    </button>
                  {% else %}
                    <button id="connect" class="btn btn-lg btn-primary btn-outline">Contact</button>
                  {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col col-md-8 col-md-offset-2">
            <h2>About</h2>
            <p>{{ user.founder.description|linebreaks }}</p>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-8 col-md-offset-2">
            <h2>Job openings</h2>
            {% for job in jobs %}
              <div class="row">
                <div class="col col-sm-12 well">
                  <h2>{{ job.title }}</h2>
                  <p>{{ job.get_level_display }}</p>
                  {% if job.pay %}
                    <p>{{ job.get_pay_display }}</p>
                  {% endif %}
                  {% if job.description %}
                    <p>{{ job.description|linebreaks }}</p>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
            <hr>
          </div>
        </div>
        {% if user.founder.website != "" %}
          <div class="row">
            <div class="col col-md-8 col-md-offset-2">
              <h2>Website</h2>
              <a target="_blank" href={{ user.founder.website }}>{{ user.founder.website }}</a>
              <hr>
            </div>
          </div>
        {% endif %}
        {% if user.founder.facebook != "" %}
          <div class="row">
            <div class="col col-md-8 col-md-offset-2">
              <h2>Facebook</h2>
              <a target="_blank" href={{ user.founder.facebook }}>{{ user.founder.facebook }}</a>
              <hr>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  {% endblock %}


{% endif %}
