{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans title %}
{% endblock %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'js/jquery_formset.js' %}"></script>
  <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}

{% if is_mobile %}

  {% block mobile_content %}
    <div class="profile-form">

      <div class="modal-dialog">
        <div id="updateprofile" class="profile-form-container">
          {% if user.first_login %}
            <h1 class="text-navy">Welcome to Bear Founders</h1>
          {% else %}
            <h1> {{ title }} </h1>
          {% endif %}
          <br>
          {% if user.first_login %}
            {% if not show_exp %}
              <h2 class="text-navy">Tell us about you startup</h2>
            {% else %}
              <h2 class="text-navy">Tell us about yourself</h2>
            {% endif %}
          {% else %}
            {% if search_enabled %}
              <h1>Basic info</h1>
            {% else %}
              <h2 class="text-red">You must fill out required fields to become available in the search</h2>
            {% endif %}
          {% endif %}
          <hr>
          <form id="profileform" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for dict in experience.errors %}
              {% for error in dict.values %}
                <div class="alert alert-danger">
                  <strong>Error!</strong> {{ error }}
                </div>
              {% endfor %}
            {% endfor %}
            {% for dict in jobs.errors %}
              {% for error in dict.values %}
                <div class="alert alert-danger">
                  <strong>Error!</strong> {{ error }}
                </div>
              {% endfor %}
            {% endfor %}
            {% crispy profile_form profile_form.helper %}

            {% if show_exp %}
              <h1>Experience</h1>
              <hr>
              <div class="set">
                {% for form in experience.forms %}
                  <div class="forminstance">
                    <strong>Company</strong>
                    <p>
                      {{ form.company }}{% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                    </p>
                    <p>{{ form.id }}</p>
                    <strong>Position</strong>
                    <p>{{ form.position }}</p>
                    <strong>Start Date (MM/DD/YY)</strong>
                    <p>{{ form.start_date }}</p>
                    <p>{{ form.currently_working }}<strong>Currently working</strong></p>
                    <strong>End Date (MM/DD/YY)</strong>
                    <p>{{ form.end_date }}</p>
                    <strong>Description</strong>
                    <p>{{ form.description }}</p>
                    <hr style="width:100%;">
                  </div>
                {% endfor %}
              </div>
              {{ experience.management_form }}

            {% else %}
              <h1>Funding</h1>
              <hr>
              <div class="set">
                {% for form in funding.forms %}
                  <div class="forminstance" id="funding">
                    <strong>Funding Rounds</strong>
                    <p>
                      {{ form.stage }}{% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                    </p>
                    <p>{{ form.id }}</p>
                    <strong>Amount Raised</strong>
                    <p>{{ form.raised }}</p>
                    <hr style="width:100%;">
                  </div>
                {% endfor %}
              </div>
              {{ funding.management_form }}

              <h1>Job openings</h1>
              <hr>
              <div class="set">
                {% for form in jobs.forms %}
                  <div class="forminstance" id="jobs">
                    <strong>Job title</strong>
                    <p>
                      {{ form.title }}{% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                    </p>
                    <p>{{ form.id }}</p>
                    <strong>Job position</strong>
                    <p>{{ form.level }}</p>
                    <strong>Compensation type</strong>
                    <p>{{ form.pay }}</p>
                    <strong>Description</strong>
                    <p>{{ form.description }}</p>
                    <hr style="width:100%;">
                  </div>
                {% endfor %}
              </div>
              {{ jobs.management_form }}
            {% endif %}

            <input type="submit" name="save" class="profile-form-submit" value="Save changes">
          </form>

          <a href="{{ request.META.HTTP_REFERER }}" style="margin-left: 46%;">Cancel</a>

        </div>
      </div>
    </div>
  {% endblock %}

{% else %}

  {% block content %}
    <div class="profile-form">

      <div class="modal-dialog">
        <div id="updateprofile" class="profile-form-container">
          {% if user.first_login %}
            <h1 class="text-navy">Welcome to Bear Founders</h1>
          {% else %}
            <h1> {{ title }} </h1>
          {% endif %}
          <br>
          {% if user.first_login %}
            {% if not show_exp %}
              <h2 class="text-navy">Tell us about you startup</h2>
            {% else %}
              <h2 class="text-navy">Tell us about yourself</h2>
            {% endif %}
          {% else %}
            {% if search_enabled %}
              <h1>Basic info</h1>
            {% else %}
              <h2 class="text-red">You must fill out required fields to become available in the search</h2>
            {% endif %}
          {% endif %}
          <hr>
          <form id="profileform" method="post" enctype="multipart/form-data">
            {% for dict in experience.errors %}
              {% for error in dict.values %}
                <div class="alert alert-danger">
                  <strong>Error!</strong> {{ error }}
                </div>
              {% endfor %}
            {% endfor %}
            {% for dict in jobs.errors %}
              {% for error in dict.values %}
                <div class="alert alert-danger">
                  <strong>Error!</strong> {{ error }}
                </div>
              {% endfor %}
            {% endfor %}
            {% crispy profile_form profile_form.helper %}

            {% if show_exp %}
              <h1>Experience</h1>
              <hr>
              <div class="set">
                {% for form in experience.forms %}
                  <div class="forminstance">
                    <strong>Company</strong>
                    <p>
                      {{ form.company }}{% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                    </p>
                    <p>{{ form.id }}</p>
                    <strong>Position</strong>
                    <p>{{ form.position }}</p>
                    <strong>Start Date (MM/DD/YY)</strong>
                    <p>{{ form.start_date }}</p>
                    <p>{{ form.currently_working }}<strong>Currently working</strong></p>
                    <strong>End Date (MM/DD/YY)</strong>
                    <p>{{ form.end_date }}</p>
                    <strong>Description</strong>
                    <p>{{ form.description }}</p>
                    <hr style="width:100%;">
                  </div>
                {% endfor %}
              </div>
              {{ experience.management_form }}

            {% else %}
              <h1>Funding</h1>
              <hr>
              <div class="set">
                {% for form in funding.forms %}
                  <div class="forminstance" id="funding">
                    <strong>Funding Rounds</strong>
                    <p>
                      {{ form.stage }}{% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                    </p>
                    <p>{{ form.id }}</p>
                    <strong>Amount Raised</strong>
                    <p>{{ form.raised }}</p>
                    <hr style="width:100%;">
                  </div>
                {% endfor %}
              </div>
              {{ funding.management_form }}

              <h1>Job openings</h1>
              <hr>
              <div class="set">
                {% for form in jobs.forms %}
                  <div class="forminstance" id="jobs">
                    <strong>Job title</strong>
                    <p>
                      {{ form.title }}{% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                    </p>
                    <p>{{ form.id }}</p>
                    <strong>Job position</strong>
                    <p>{{ form.level }}</p>
                    <strong>Compensation type</strong>
                    <p>{{ form.pay }}</p>
                    <strong>Description</strong>
                    <p>{{ form.description }}</p>
                    <hr style="width:100%;">
                  </div>
                {% endfor %}
              </div>
              {{ jobs.management_form }}
            {% endif %}

            <input type="submit" name="save" class="profile-form-submit" value="Save changes">
          </form>

          <a href="{{ request.META.HTTP_REFERER }}" style="margin-left: 46%;">Cancel</a>

        </div>
      </div>
    </div>
  {% endblock %}


{% endif %}