{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% trans "Home" %}
{% endblock %}
{% block content %}
<div class = 'container' style = "padding-top: 30px; padding-bottom:30px;">
  <div class = 'row'>
  {%for user, skills in searched%}

    <div class = "col col-md-4" style="height:400px;">
      <a class="card-hover" href='/users/{{user.id}}'>
      <div class="card">
        <div class="header-bg" style="height:100px; background-color:#25283D;"></div>
        <div>
          <img class="avatar" src="{%if user.is_founder%}{{user.founder.logo.url}}{%else%}{{user.profile.image.url}}{%endif%}" style="top: calc(100px);"/>
        </div>
        <div class="content">
            {%if user.is_founder%}
            <h2>{{user.founder.startup_name}}</h2>
            <hr>
            <script type="text/javascript">
              $(function(){
                $(".founderdescription").each(function(i){
                  len=$(this).text().length;
                  if(len>300)
                  {
                    $(this).text($(this).text().substr(0,200)+'...');
                  }
                });
              });
            </script>
            <div class="founderdescription">
            <p>{{user.founder.description}}<p>
            </div>
            {%else%}
            <h2>{{user.first_name}} {{user.last_name}}</h2>
            <h3 style = "margin-top:0">{{user.profile.get_year_display}}</h3>
            {%if user.profile.has_startup_exp %}<span class="label label-default">Has startup experience</span>{%endif%}
            {%if user.profile.has_funding_exp %}<span class="label label-default">Has funding experience</span>{%endif%}
            <span class="label label-primary">{{user.profile.get_year_display}}</span>
            <span class="label label-primary">{{user.profile.get_major_display}}</span>
            <span class="label label-info">{{user.profile.get_role_display}}</span>
            {%for skill in skills|slice:":5"%}
            <span class="label label-info">{{skill}}</span>
            {%endfor%}
            <span class="label label-success">{{user.profile.get_hours_week_display}} hr/wk</span>
            {%for work in user.profile.experience_set.all%}
            <span class="label label-danger">Worked at {{work.company}}</span>
            {%endfor%}
            <span class="label label-warning">{{user.profile.get_position_display}}</span>
            {%endif%}
            <!--<div style = "padding:10px;">
            <a href="/users/{{user.id}}" class="btn btn-primary btn-outline">View profile</a>
          </div>-->
        </div>
      </div>
    </a>


    </div>
  {% empty %}
  <div class = "col col-md-12 text-center">
    <h1><i class="fa fa-exclamation-circle" aria-hidden="true"></i> There were no users that matched your search query! Try another search.</h1>
  </div>
  {%endfor%}
  </div>
</div>
{% endblock %}
