{% extends 'base.html' %}
{% load website_tags %}
{% block search_form %}
            <nav class="cd-secondary-nav">
            <form id="mainform" action="/search/" autocomplete="off" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{% if partners_hidden %}{{ partners_hidden }}{% endif %}"
                       name="filter_partners"
                       id="filter_partners">
                <input type="hidden" value="{% if employees_hidden %}{{ employees_hidden }}{% endif %}"
                       name="filter_employees"
                       id="filter_employees">
                <input type="hidden" value="{% if freelancers_hidden %}{{ freelancers_hidden }}{% endif %}"
                       name="filter_freelancers"
                       id="filter_freelancers">
                <input type="hidden" value="{% if jobs_hidden %}{{ jobs_hidden }}{% endif %}" name="filter_jobs"
                       id="filter_jobs">
                <input type="hidden" value="{% if startups_hidden %}{{ startups_hidden }}{% endif %}"
                       name="filter_startups"
                       id="filter_startups">

                <div id="search" class="cd-main-search is-visible">
                    <div class="searchform">
                        <nav class="cd-secondary-nav cd-search-nav first">
                            <div class="selects partners">
                                {% for item in p_context %}
                                    <div class="filter-container">
                                        <select class="filter small"
                                                form="mainform"
                                                name="{{ item.0 }}_employees"
                                                multiple style="display: none;"
                                                data-class="{% if item.2.class %}{{ item.2.class }}{% else %}label-info{% endif %}">
                                            <option class="text-capitalize" selected
                                                    data-display="{% if item.2.name %}{{ item.2.name }}{% else %}{{ item.0 }}{% endif %}"
                                                    {% if item.0|add:"_employees" in active_selects %}
                                                    data-revert="Select All"
                                                    data-text="Diselect All"
                                                    {% else %}
                                                    data-revert="Diselect All"
                                                    data-text="Select All"
                                                    {% endif %}
                                            >
                                            </option>
                                            {% for subitem in item.1 %}
                                                {% to_list item.0|add:"_employees" subitem.0 subitem.1 item.2.class as tmp_list %}
                                                <option value="{{ subitem.0 }}"
                                                        class="text-capitalize"
                                                        {% if tmp_list in filter_employees %}selected{% endif %}
                                                >{{ subitem.1 }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% endfor %}
                                {% for item in e_context %}
                                    <div class="filter-container">
                                        <select class="filter small"
                                                form="mainform"
                                                name="{{ item.0 }}_employees"
                                                multiple style="display: none;"
                                                data-class="{% if item.2.class %}{{ item.2.class }}{% else %}label-info{% endif %}">
                                            <option class="text-capitalize" selected
                                                    data-display="{% if item.2.name %}{{ item.2.name }}{% else %}{{ item.0 }}{% endif %}"
                                                    {% if item.0|add:"_employees" in active_selects %}
                                                    data-revert="Select All"
                                                    data-text="Diselect All"
                                                    {% else %}
                                                    data-revert="Diselect All"
                                                    data-text="Select All"
                                                    {% endif %}
                                            >
                                            </option>
                                            {% for subitem in item.1 %}
                                                {% to_list item.0|add:"_employees" subitem.0 subitem.1 item.2.class as tmp_list %}
                                                <option value="{{ subitem.0 }}"
                                                        class="text-capitalize"
                                                        {% if tmp_list in filter_employees %}selected{% endif %}
                                                >{{ subitem.1 }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="selects jobs">
                                {% for item in job_context %}
                                    <div class="filter-container">
                                        <select class="filter small"
                                                form="mainform"
                                                name="{{ item.0 }}"
                                                multiple style="display: none;"
                                                data-class="{% if item.2.class %}{{ item.2.class }}{% else %}label-info{% endif %}">
                                            <option class="text-capitalize" selected
                                                    data-display="{% if item.2.name %}{{ item.2.name }}{% else %}{{ item.0 }}{% endif %}"
                                                    {% if item.0 in active_selects %}
                                                    data-revert="Select All"
                                                    data-text="Diselect All"
                                                    {% else %}
                                                    data-revert="Diselect All"
                                                    data-text="Select All"
                                                    {% endif %}
                                            >
                                            </option>
                                            {% for subitem in item.1 %}
                                                {% to_list item.0 subitem.0 subitem.1 item.2.class as tmp_list %}
                                                <option value="{{ subitem.0 }}"
                                                        class="text-capitalize"
                                                        {% if tmp_list in filter_jobs %}selected{% endif %}
                                                >{{ subitem.1 }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="selects startups">
                                {% for item in f_context %}
                                    <div class="filter-container">
                                        <select class="filter small" form="mainform" name="{{ item.0 }}"
                                                multiple style="display: none;"
                                                data-class="{% if item.2.class %}{{ item.2.class }}{% else %}label-info{% endif %}">
                                            <option class="text-capitalize" selected
                                                    data-display="{% if item.2.name %}{{ item.2.name }}{% else %}{{ item.0 }}{% endif %}"
                                                    {% if item.0 in active_selects %}
                                                    data-revert="Select All"
                                                    data-text="Diselect All"
                                                    {% else %}
                                                    data-revert="Diselect All"
                                                    data-text="Select All"
                                                    {% endif %}
                                            >
                                            </option>
                                            {% for subitem in item.1 %}
                                                {% to_list item.0 subitem.0 subitem.1 item.2.class as tmp_list %}
                                                <option value="{{ subitem.0 }}"
                                                        class="text-capitalize"
                                                        {% if tmp_list in filter_startups %}selected{% endif %}
                                                >{{ subitem.1 }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% endfor %}
                            </div>

                        </nav> <!-- .cd-secondary-nav -->

                        <input type="search" name="query" placeholder="Search by name or keywords...">

                        <div class="cd-select filter-container">
                            <select id="selector" name="select-category" class="filter small no-overflow">
                                <option value="partners"
                                        {% if not founder and not search_category %}selected{% elif search_category == 'partners' %}
                                        selected{% endif %}>
                                    People
                                </option>
                                <option value="startups"
                                        {% if founder and not search_category %}selected{% elif search_category == 'startups' %}
                                        selected{% endif %}>Startups
                                </option>
                                <option value="jobs" {% if search_category == 'jobs' %}selected{% endif %}>
                                    Jobs
                                </option>
                            </select>
                        </div>

                        <div class="cd-search-button">
                            {% if is_mobile %}
                                <button id="menubutton" type="button" class="btn btn-success toggle-id-1">
                                    <i class="fa fa-search"></i>
                                </button>
                            {% else %}
                                <button id="searchbutton" type="submit" class="btn btn-success">
                                    GO
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </nav> <!-- .cd-secondary-nav -->
    <nav class="cd-secondary-nav cd-search-nav tags">
        <div class="container">

            <div class="tags startups {% if filter_startups %}selected{% endif %}">
                <div id="tags_startups" class="filter-container">
                    {% if search_category == 'startups' %}
                        {% if filter_startups %}
                            <span class="tag label label-clear">Clear All</span>
                        {% endif %}
                        {% for item in filter_startups %}
                            <span class="tag label {{ item.3 }}" data-value="{{ item.1 }}"
                                  data-name="{{ item.0 }}">{{ item.2 }}<span
                                    data-role="remove"></span></span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="tags partners {% if filter_partners %}selected{% endif %}">
                <div id="tags_partners" class="filter-container">
                    {% if search_category == 'partners' %}
                        {% if filter_partners %}
                            <span class="tag label label-clear">Clear All</span>
                        {% endif %}
                        {% for item in filter_partners %}
                            <span class="tag label {{ item.3 }}" data-value="{{ item.1 }}"
                                  data-name="{{ item.0 }}">{{ item.2 }}<span
                                    data-role="remove"></span></span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="tags employees {% if filter_employees %}selected{% endif %}">
                <div id="tags_employees" class="filter-container">
                    {% if search_category == 'employees' %}
                        {% if filter_employees %}
                            <span class="tag label label-clear">Clear All</span>
                        {% endif %}
                        {% for item in filter_employees %}
                            <span class="tag label {{ item.3 }}" data-value="{{ item.1 }}"
                                  data-name="{{ item.0 }}">{{ item.2 }}<span
                                    data-role="remove"></span></span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="tags freelancers {% if filter_freelancers %}selected{% endif %}">
                <div id="tags_freelancers" class="filter-container">
                    {% if search_category == 'freelancers' %}
                        {% if filter_freelancers %}
                            <span class="tag label label-clear">Clear All</span>
                        {% endif %}
                        {% for item in filter_freelancers %}
                            <span class="tag label {{ item.3 }}" data-value="{{ item.1 }}"
                                  data-name="{{ item.0 }}">{{ item.2 }}<span
                                    data-role="remove"></span></span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="tags jobs {% if filter_jobs %}selected{% endif %}">
                <div id="tags_jobs" class="filter-container">
                    {% if search_category == 'jobs' %}
                        {% if filter_jobs %}
                            <span class="tag label label-clear">Clear All</span>
                        {% endif %}
                        {% for item in filter_jobs %}
                            <span class="tag label {{ item.3 }}" data-value="{{ item.1 }}"
                                  data-name="{{ item.0 }}">{{ item.2 }}<span
                                    data-role="remove"></span></span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

        </div>
    </nav> <!-- .cd-secondary-nav -->
{% endblock search_form %}

{% block content %}
    <div class="messages"></div>
    <div class="container">
        <div class="home row">
            <div class="col col-md-4 text-center slide-in-left">
                <h1><i style="font-size:5em;" class="fa fa-search" aria-hidden="true"></i></h1>
                <h1>Search</h1>
                <p>Search for people based on their name, year, major, or skillset. Find people who fit your needs and
                    have
                    the experience you require.</p>
                <p>Search for startups who are hiring based on name, industry, and positions available</p>
            </div>
            <div class="col col-md-4 text-center slide-in-top">
                <h1><i style="font-size:5em;" class="fa fa-handshake-o" aria-hidden="true"></i></h1>
                <h1>Connect</h1>
                <p>After you think you have found the right match, send a connection request. This will email the user
                    saying
                    that there is an interest in their profile. Give them more information about yourself and what you
                    are
                    hiring/looking for</p>
            </div>
            <div class="col col-md-4 text-center slide-in-right">
                <h1><i style="font-size:5em;" class="fa fa-wrench" aria-hidden="true"></i></h1>
                <h1>Build</h1>
                <p>After both parties reach an agreement on the pay/partnership, start working on your project together!
                    It's
                    quick and easy.</p>
            </div>
        </div>
        <div class="home row text-center" style="padding-top: 50px;">
            <div class='col col-md-6 col-md-offset-3'>
                <p>If there are any problems with your account please email <strong>help@bearfounders.com</strong></p>
            </div>
        </div>
    </div>
{% endblock content %}